/* Global styles */

button {
  background: rgb(86, 123, 149);
  color: white;
  border: none;
  letter-spacing: 0.05em;
  padding: 10px 12px;
  text-transform: uppercase;
  font-size: 11px;
  border-radius: 3px;
  font-weight: 700;
  transition: all 0.6s ease 0s;
  cursor: pointer;
}

button:hover {
  background: rgb(50, 104, 145);
}

body {
  margin: 0;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
}

header {
  max-width: 1200px;
}

li {
  list-style: none;
  display: inline-block;
}

figure {
  margin: 0;
}

h2,
b {
  font-weight: bold;
  color: #333;
}

h4 {
  margin: 0;
}

h3 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  width: 72px;
  border: none;
  background: rgb(204, 204, 204);
  height: 1px;
}

ul {
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

.article-icon img {
  display: block;
}

article a {
  color: #326891;
}

.article-source,
.article-source > a {
  color: rgb(102, 102, 102);
  font-size: 10px;
}

article a:hover {
  text-decoration: none;
}

.not-an-ad-section > div a {
  margin-top: 4px;
}

iframe {
  width: 100%;
  height: 358px;
}

.article-footer > button {
  width: 330px;
}

/* nav */

nav {
  height: 43px;
  padding: 0 12px;
  border: 1px solid #e2e2e2;
  font-family: 'Libre Franklin', sans-serif;
}

nav .nav-section button {
  background: none;
  border: none;
  padding: 8px;
}

nav .nav-section img {
  height: 16px;
}

nav .page-title {
  font-weight: 700;
  margin-left: 14px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.7px;
}

nav .page-title a {
  text-decoration: none;
  color: black;
}

nav .page-title a:hover {
  text-decoration: underline;
}

nav .logo {
  height: 26px;
}

/* Header */

header > h1 {
  margin-top: 50px;
  margin-bottom: 7px;
  font-style: italic;
  font-size: 40px;
  font-weight: 700;
}

.image-description {
  color: #666;
  font-size: 15px;
}

.image-source {
  color: #888;
  font-size: 12px;
}

/* Article */

.author {
  color: #333;
  font-size: 15px;
  font-weight: 700;
}

time {
  font-weight: 500;
  color: #333;
  font-size: 13px;
}

.article-icon {
  height: 27px;
  margin-right: 16px;
}

.article-icon.rounded {
  width: 27px;
  background: #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-number,
.comment-number:hover {
  background: #fff;
  border: black 1px solid;
  border-color: rgb(102, 102, 102);
  color: black;
  padding: 4px 6px;
  position: relative;
}

.arrow-2 {
  border-color: rgb(255, 255, 255) transparent;
  border-style: solid;
  border-width: 6px 0 0 6px;
  bottom: -6px;
  content: "";
  display: block;
  left: 16px;
  position: absolute;
  width: 0;
}

.arrow-1 {
  border-color: rgb(102, 102, 102) transparent;
  border-style: solid;
  bottom: -7px;
  border-width: 6px 0 0 8px;
  content: "";
  display: block;
  left: 15px;
  position: absolute;
  width: 0;
}

article p {
  font-size: 20px;
  color: #333;
}

.not-an-ad-section {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.article-content {
  max-width: 600px;
}

.not-an-ad-section > div {
  margin: 22px 0;
}

.weird-image {
  max-width: 940px;
}

.weird-image > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 18px;
}

.weird-image p {
  font-size: 13px;
  font-weight: 300;
}

.article-image {
  max-width: 720px;
}

.credits {
  grid-column: 1/3;
  align-self: start;
  font-weight: 500;
  font-size: 12px;
}

.credits-line {
  background: black;
  display: inline-block;
}

.article-footer {
  margin-top: 22px;
  margin-bottom: 32px;
}

/* Aside */

aside {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 20px;
  font-family: 'times new roman', times, serif;
}

aside > hr {
  width: 100%;
  background: black;
}

.first-div {
  grid-column: 1/2;
}

.second-div {
  grid-column: 2/3;
}

.more-section {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.sm-image-credits {
  display: inline-block;
  width: 100%;
}

.most-popular-section {
  grid-row: auto/span 6;
  font-weight: 500;
  font-size: 20px;
}

.popular-title {
  padding: 20px 0;
  border-top: 1px solid rgb(204, 204, 204);
}

.popular-link:hover {
  color: rgb(102, 102, 102);
}

/* Helper Classes */

.flex { display: flex; }
.flex.column { flex-direction: column; }
.flex.justify-start { justify-content: flex-start; }
.flex.justify-center { justify-content: center; }
.flex.justify-end { justify-content: flex-end; }
.flex.justify-space-between { justify-content: space-between; }
.flex.align-start { align-items: flex-start; }
.flex.align-center { align-items: center; }
.flex.align-end { align-items: flex-end; }
.h-100 { height: 100%; }
.w-100 { width: 100%; }
.text-align-center { text-align: center; }
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.font-cheltenham { font-family: nyt-cheltenham, georgia, 'times new roman', times, serif; }
.font-franklin { font-family: nyt-franklin, helvetica, arial, sans-serif; }
